
.skillIndex {
  // margin: spacing(1);
  background-color: black;
  // width: 600;
  // position: "relative";
  border: 5px solid lightslategray;
  border-bottom-width: 2px;
  padding: 10px;
}

.skillDetails {
  // margin: spacing(1);
  background-color: black;
  // width: 600;
  // position: "relative";
  border: 5px solid lightslategray;
  border-top-width: 2px;
  padding: 10px;
}

  // categoryLabel: {
  //   position: "relative",
  //   top: '-18px',
  //   left: "32px",
  //   fontSize: "17px",
  //   color: "white",
  //   fontFamily: "san-serif",
  //   outline: "black",
  //   fontWeight: "bold",
  //   textShadow:"-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000",    
  // },    